@model Loca_ly.Models.Venue

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenrePreference" class="control-label"></label>
                <input asp-for="GenrePreference" class="form-control" />
                <span asp-validation-for="GenrePreference" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CoverCharge" /> @Html.DisplayNameFor(model => model.CoverCharge)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MaxPay" class="control-label"></label>
                <input asp-for="MaxPay" class="form-control" />
                <span asp-validation-for="MaxPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GigTime" class="control-label"></label>
                <input asp-for="GigTime" class="form-control" />
                <span asp-validation-for="GigTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageArtistRating" class="control-label"></label>
                <input asp-for="AverageArtistRating" class="form-control" />
                <span asp-validation-for="AverageArtistRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
