@{
    ViewData["Title"] = "Home Page";
}


<div id="wrapperHeader">
    <div id="header">
        <img src="~/PIcs/localytransparent.png" width="950" height="150" alt="logo" />
    </div>
</div>



    <head>
        <title> Loca.ly MKE Background</title>

    </head>
    <body style="height: 75%; width: 75%; background-image: url('https://i.imgur.com/S16Kpp7.jpg');">
        
    </body>
